.person-list {
    list-style-type: none;
    padding: 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    
    margin: 20px auto;
  }
  
  .person-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    max-width: 400px; 
    word-wrap: break-word;
    overflow-wrap: break-word; 
    word-break: break-word; 
    white-space: normal; 
  }
  
  .person-list li:last-child {
    border-bottom: none;
  }
  
  